
:root {
    /* these variables are used everywhere */
    --bg: black; /* background colour */
    --b-radius: min(1.9vmin, 15px); /* border radius */
    --b-width: 0.3rem; /* border thickness */
    --spacing: 0.3rem; /* widget spacing */
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0px;
    overflow-y: hidden;
    color: white;
    background-color: var(--bg);
	font-family: 'Rubik', sans-serif !important; 
    touch-action: none;
  }
a {
    color:rgb(161, 179, 238);
    text-decoration: none;
}

.header {
    text-align: center;
    background-color: rgb(39, 36, 36);
}

.header h2 {
    font-weight: bold;
    font-size: 40px;
}

.header p {
    font-size: 20px;
}

.controls {
    background-color: black;
    width: 100%;
	text-align: center;
    margin: 5px auto;
}

.encoder {
    margin: auto;
    width: 50%;
}


.control-block {
    /*border: 1px solid rgb(80, 80, 80);*/
	border: none;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
	
}

.btn {
    margin: auto;
    width: 100%;
    /* height: 50px;*/
    
}

.terminal-settings {
    display:inline-block;
    vertical-align:top;
}

.termwin {
    width: 600px;
    margin: 0 auto;
}
.title
{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
p {
    text-align: center;
    font-size: 20px;
}

.term-wrapper {
    width: 100%;
    background-color: rgb(39, 36, 36);
}

.terminal {
    /*float: left;*/
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px rgb(51, 31, 14);
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 20px;
    background-color: rgb(39, 36, 36);
}


.terminal-cursor {
    color: rgb(155, 63, 63);
    background: white;
}

.footer {
    width: 100%;
    margin: 10 auto;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }